/* Header.module.css */
.headers {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between; /* To push the h1 to the left */
  padding: 10px;
  background-color: rgb(130, 156, 240);
  color: aliceblue;
  font-weight: bold;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.headerText {
  margin: 0; /* Remove default margin */
  text-align: left; /* Align text to the left */
  width: 100%; /* Make sure it takes up the full width */
}
